@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://websfont.github.io/nanumSquareNeo/nanumSquareNeo.css");
@import url("https://websfont.github.io/gmarket/gmarket.css");
.mont {
  font-family: "Montserrat";
}

.nanum {
  font-family: "nanumSquareNeo";
}

.gmarket {
  font-family: "gmarket";
}

:root {
  --mainEng-font: "Montserrat";
  --mainKor-font: "NanumSquareNeo";
  --mainNum-font: "gmarket";
  --mainBg-color: #a1cdff;
  --subBg100: #cdc0b1;
  --subBg200: #afa395;
  --subBg300: #81887c;
  --subBg400: #afa7a2;
  --subBg500: #a6afa2;
  --white: #fff;
  --black: #000;
  --black100: #2b2b2b;
  --black200: #434343;
  --black300: #686868;
  --black400: #e0e0e0;
  font-family: var(--mainEng-font), var(--mainKor-font);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
@media (max-width: 50rem) {
  :root {
    font-size: 0.875rem;
    line-height: 1.4;
  }
}

body {
  background-color: var(--white);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
table,
textarea {
  font-family: var(--mainEng-font), var(--mainKor-font), "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", helvetica, sans-serif;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul {
  list-style: none;
}

em,
address {
  font-style: normal;
}

strong {
  font-weight: normal;
}

img {
  vertical-align: top;
  width: 100%;
}

#skip a {
  position: absolute;
  left: 10px;
  top: -92px;
  z-index: 100000;
  font-size: 1rem;
  padding: 10px 30px;
  color: var(--white);
  background: var(--black);
}

#skip a:focus,
#skip a:active {
  top: 10px;
}

.home-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 100vh;
  width: 100%;
}
@media screen and (min-width: 75rem) {
  .home-container {
    min-height: 100vh;
  }
}

.header {
  height: 3.125rem;
  width: 100%;
}
.header-inner {
  position: relative;
}
.header-inner .header-logo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.0625rem solid var(--black100);
  height: 3.125rem;
  padding: 0 0.625rem;
  text-transform: uppercase;
}
.header-inner .header-logo p {
  color: var(--black100);
  font-size: 0.75rem;
  white-space: nowrap;
  width: auto;
}
.header-inner .header-logo p:first-child {
  font-size: 0.8125rem;
  font-weight: 700;
}
.header-inner .header-logo p:last-child {
  font-style: italic;
}

.intro {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
  flex-grow: 1;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}
.intro-section {
  align-items: center;
  display: flex;
  justify-content: center;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  height: 50%;
  overflow: hidden;
  width: 100%;
}
.intro-section:first-child {
  border-bottom: 0.0625rem dotted var(--white);
}
.intro-section-projects, .intro-section-about {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  position: relative;
  width: 100%;
}
.intro-section-projects .main-img, .intro-section-about .main-img {
  border-radius: 100%;
  height: 9.375rem;
  margin: -0.625rem 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 9.375rem;
  z-index: 1;
}
.intro-section-projects .circle-text-svg, .intro-section-about .circle-text-svg {
  animation: rotateImage 6s linear infinite;
  height: 18.75rem;
  position: absolute;
  transform-origin: 50% 50%;
  width: 18.75rem;
  will-change: transform;
  z-index: 0;
}
.intro-section-projects .circle-text-svg text, .intro-section-about .circle-text-svg text {
  fill: #fff;
  font-family: Arial, sans-serif;
  font-size: 1.125rem;
  letter-spacing: 0.75rem;
}
@media screen and (min-width: 48rem) {
  .intro-section {
    height: 100%;
  }
  .intro-section-projects, .intro-section-about {
    height: 100%;
    width: 100%;
  }
}
@media screen and (min-width: 75rem) {
  .intro {
    flex-direction: row;
  }
  .intro-section:first-child {
    border-bottom: 0;
    border-right: 0.0625rem dotted var(--white);
  }
  .intro-section-projects .main-img, .intro-section-about .main-img {
    transition: transform 200ms ease-out;
  }
  .intro-section-projects .circle-text-svg, .intro-section-about .circle-text-svg {
    animation: none;
    transition: transform 2s ease-out;
  }
  .intro-section-projects:hover .main-img, .intro-section-about:hover .main-img {
    filter: grayscale(0%);
    transform: scale(1.2);
  }
  .intro-section-projects:hover .circle-text-svg, .intro-section-about:hover .circle-text-svg {
    animation: rotateImage 6s linear infinite;
    transform: rotate(360deg);
  }
}

@keyframes rotateImage {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.footer {
  font-family: var(--mainKor-font);
}
.footer-inner {
  padding: 1rem;
}
.footer-inner-text {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.0625rem solid var(--black);
  border-top: 0.0625rem solid var(--black);
  font-size: 0.75rem;
  text-transform: uppercase;
}
.footer-inner-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 6.25rem 0;
}
@media (max-width: 50rem) {
  .footer-inner-top {
    flex-direction: column;
  }
}
.footer-inner-top .left {
  width: 40%;
}
@media (max-width: 50rem) {
  .footer-inner-top .left {
    width: 100%;
  }
}
.footer-inner-top .left .title {
  border-bottom: 0.0625rem solid var(--black);
  border-top: 0.125rem solid var(--black);
  font-weight: 700;
  padding: 1.25rem 0;
  transition: padding-left 300ms;
}
.footer-inner-top .left .title:hover {
  background-color: var(--black400);
  border-color: transparent;
  padding-left: 0.625rem;
}
.footer-inner-top .left .desc {
  font-size: 0.75rem;
  padding-top: 1.25rem;
}
@media (max-width: 50rem) {
  .footer-inner-top .left .desc {
    margin-bottom: 2.5rem;
  }
}
.footer-inner-top .right {
  width: 50%;
}
@media (max-width: 50rem) {
  .footer-inner-top .right {
    width: 100%;
  }
}
.footer-inner-top .right h3 {
  border-top: 0.125rem solid var(--black);
  font-size: 0.75rem;
  margin-bottom: 2rem;
  padding-top: 0.625rem;
}
.footer-inner-top .right ul {
  border-top: 0.0625rem solid var(--black);
}
.footer-inner-top .right ul li {
  border-bottom: 0.0625rem solid var(--black);
}
.footer-inner-top .right ul li a {
  display: inline-block;
  font-size: 0.875rem;
  padding: 0.875rem 0;
  text-transform: uppercase;
  transition: padding-left 300ms;
}
.footer-inner-top .right ul li a:hover {
  padding-left: 0.75rem;
}
.footer-inner-bottom {
  font-size: 0.75rem;
  margin-bottom: 1.25rem;
  text-align: center;
  text-transform: uppercase;
}

@font-face {
  font-family: "MangoDdobak-B";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
.profile {
  color: var(--black100);
  min-height: 100vh;
  transition: background-color 400ms ease-in-out;
}
.profile.is-transitioned {
  background-color: var(--black);
}
.profile.is-transitioned .profile-scroll {
  display: none;
}
.profile-header {
  min-height: 100vh;
  overflow: hidden;
  padding: 3rem 1.25rem;
  position: relative;
}
.profile-greeting {
  font-family: var(--mainKor-font);
  font-size: 2.4rem;
  margin: 0 0 1rem;
}
.profile-info {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 0 0 3rem;
}
.profile-info-name {
  font-family: var(--mainNum-font);
  font-size: 4rem;
  font-weight: 700;
  margin: 0 0.4rem 0 0;
}
.profile-info-suffix {
  font-family: var(--mainKor-font);
  font-size: 2.4rem;
  margin: 0 0 -0.5rem;
}
.profile .line {
  background-color: var(--black100);
  display: block;
  height: 0.3125rem;
  margin: 0 0 3rem;
  width: 5rem;
}
.profile-roulette {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 3rem;
  list-style: none;
  margin: 2rem;
  position: relative;
  width: auto;
}
.profile-word {
  font-family: var(--mainEng-font);
  font-size: 3rem;
  font-weight: 700;
  height: 100%;
  line-height: 3rem;
  opacity: 0;
  position: absolute;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
  width: 100%;
}
.profile-word.is-active {
  opacity: 1;
}
.profile .fixed-word {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 3rem;
}
.profile .word {
  animation: clip-text 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  position: relative;
  white-space: nowrap;
}
.profile .word::before {
  animation: clip-cover 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
  background-color: var(--black);
  content: "";
  display: block;
  inset: 0;
  position: absolute;
}
.profile-scroll {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  left: 50%;
  position: absolute;
  top: 36rem;
  transform: translateX(-50%);
}
.profile-desc {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--white);
  height: 100vh;
  overflow: hidden;
  padding: 3rem 1.25rem;
  position: relative;
}
.profile-desc .profile-details {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin: 0 0 3rem;
  z-index: 1;
}
.profile-desc .profile-details .profile-image {
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.9;
  overflow: hidden;
  transition: transform 600ms ease-in-out;
  width: 100%;
}
.profile-desc .profile-details .personal-info {
  flex: 1;
}
.profile-desc .profile-details .personal-info p {
  font-family: var(--mainKor-font);
  font-size: 1.1rem;
  white-space: nowrap;
}
.profile-desc .title {
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  margin: 0 0 1.5rem;
}
.profile-desc .small-image {
  left: -70%;
  width: 180%;
}
.profile-desc .small-image img {
  display: block;
  width: 100%;
}
.profile-desc .small-image.control {
  position: absolute;
  top: 0;
  z-index: -1;
}
.profile-desc .content {
  margin: 2rem auto;
  z-index: 2;
}
.profile-desc .content h3 {
  font-family: var(--mainKor-font);
  font-size: 1rem;
  line-height: 2;
}
.profile .button-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  width: 100%;
}
.profile .button-container .button-wrapper {
  border: 1px solid var(--white);
  text-align: center;
  width: 50%;
}
.profile .button-container .button-wrapper:last-child {
  border-left: 0;
}
.profile .button-container .button-link {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: var(--black100);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  color: var(--white);
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  font-weight: 700;
  height: 60px;
  opacity: 0.8;
  padding: 0 1rem;
  text-decoration: none;
  transition: opacity 300ms ease, font-size 300ms ease;
}
.profile .button-container .button-link:hover {
  font-size: 1.4rem;
  opacity: 1;
}
@media screen and (min-width: 48rem) {
  .profile-scroll {
    top: 64rem;
  }
  .profile-desc .profile-details .profile-image {
    max-width: 30rem;
    width: 50%;
  }
  .profile-desc .profile-details .personal-info p {
    font-size: 1.4rem;
  }
  .profile .content {
    margin: 4rem auto;
  }
  .profile .content h3 {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 75rem) {
  .profile-scroll {
    top: 38rem;
  }
  .profile-desc {
    padding: 1rem 1.25rem;
  }
  .profile-desc .profile-details {
    height: auto;
    width: 100%;
  }
  .profile-desc .profile-details .profile-image {
    height: auto;
    margin: 0 auto;
    max-width: 20rem;
    width: 50%;
  }
  .profile-desc .profile-details .personal-info {
    display: flex;
    flex: none;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }
  .profile-desc .profile-details .personal-info p {
    font-size: 2rem;
  }
  .profile .content {
    margin: 1rem 0;
  }
  .profile .content h3 {
    font-size: 1.4rem;
  }
  .profile .line.is-bottom {
    display: none;
  }
  .profile .button-container {
    margin: 1rem 0;
  }
}

@keyframes clip-text {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}
@keyframes clip-cover {
  from {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 100%);
            clip-path: inset(0 0 0 100%);
  }
}
.outer-container {
  height: 100vh;
  overflow: hidden;
}

.content-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.left-section {
  background-color: var(--black);
  flex: 0 0 auto;
  overflow-y: auto;
  padding: 0.5rem 0 0;
  width: 100%;
}

.fixed-title {
  color: var(--white);
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0 1rem;
}

.buttons-container {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 0 0;
}

.project-button {
  background: none;
  border: 0;
  color: var(--white);
  cursor: pointer;
  font-size: 0.8rem;
  padding: 0.3125rem 0.2rem;
  text-align: center;
  transition: background-color 300ms ease, color 300ms ease, font-size 300ms ease, font-weight 300ms ease;
  white-space: nowrap;
  width: 6rem;
}
.project-button.is-active {
  background-color: #f0f8ff;
  border-radius: 2rem;
  color: #007bff;
  font-weight: 700;
}
.project-button:hover {
  color: #0056b3;
}

.right-section {
  background-color: var(--black);
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 0.75rem;
  width: 100%;
}

.project-content {
  height: 100%;
  width: 100%;
}

.project-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
  height: 100%;
  text-align: left;
}

.image-slider {
  flex: 0 0 auto;
  height: 15rem;
  width: 100%;
}
.image-slider .slick-list,
.image-slider .slick-track,
.image-slider .slick-slide > div {
  height: 100%;
}
.image-slider div {
  height: 100%;
}
.image-slider img {
  border-radius: 0.25rem;
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.image-slider .slick-dots {
  bottom: -1.5rem;
}
.image-slider .slick-dots li button:before {
  color: var(--white);
}
.image-slider .slick-dots li.slick-active button:before {
  color: #007bff;
}
.image-slider .slick-prev,
.image-slider .slick-next {
  height: 1.5rem;
  width: 1.5rem;
  z-index: 1;
}
.image-slider .slick-prev::before,
.image-slider .slick-next::before {
  color: var(--white);
  font-size: 1rem;
}
.image-slider .slick-prev {
  left: 0.25rem;
}
.image-slider .slick-next {
  right: 0.25rem;
}

.project-details {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 auto;
  overflow-y: auto;
}
.project-details-title {
  font-size: 1.75rem;
  margin: 0.5rem 0;
}
.project-details p {
  font-size: 1rem;
  margin: 0.25rem 0;
}
.project-details p strong {
  font-weight: 700;
}
.project-details p .tech-title {
  display: inline-block;
  width: 14%;
}
.project-details .tech {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  gap: 0.325rem;
  height: 3.75rem;
  max-width: 100%;
  overflow: hidden;
  width: 100%;
}
.project-details .tech strong {
  align-items: center;
  flex: 0 0 auto;
  white-space: nowrap;
}
.project-details .tech .tech-tags-container {
  display: inline-block;
  flex-wrap: nowrap;
  width: 100%;
}
.project-details .tech .tech-tag {
  background-color: var(--white);
  border-radius: 1rem;
  color: #007bff;
  display: inline-block;
  flex-shrink: 0;
  font-size: 0.75rem;
  margin: 0.125rem;
  padding: 0.25rem 0.5rem;
}
.project-details .desc {
  font-size: 0.8rem;
  height: 5.75rem;
  margin: 0.4rem 0;
  overflow-y: auto;
}
.project-details .button-group {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0.7rem 0 0;
  width: 100%;
}
.project-details .button {
  background-color: var(--mainBg-color);
  border: 1px solid var(--white);
  border-radius: 0.125rem;
  color: var(--white);
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  overflow: hidden;
  padding: 0.5rem 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 49%;
}
.project-details .button .button-text {
  position: relative;
  z-index: 2;
}
.project-details .button:first-child {
  background-color: var(--white);
  border-color: var(--black300);
  color: var(--black300);
}
.project-details .button:first-child:before {
  background-color: #828c94;
}
.project-details .button::before {
  background-color: #0aa5ff;
  color: var(--white);
  content: "";
  display: block;
  inset: 0;
  position: absolute;
  scale: 0 1;
  transform-origin: right;
  transition: scale 0.4s ease;
}
.project-details .button:hover::before {
  scale: 1;
  transform-origin: left;
}
.project-details .button:first-child:hover {
  color: var(--white);
}

@media screen and (min-width: 48rem) {
  .content-wrapper {
    flex-direction: column;
    height: 100vh;
  }
  .left-section {
    padding: 1rem;
  }
  .fixed-title {
    font-size: 3rem;
  }
  .project-button {
    font-size: 1.125rem;
    width: 8rem;
  }
  .project-button.is-active {
    border-radius: 2rem;
  }
  .right-section {
    padding: 1rem;
  }
  .image-slider {
    height: 30rem;
  }
  .image-slider div {
    border-radius: 0.25rem;
    height: 100%;
  }
  .image-slider .slick-list,
  .image-slider .slick-track,
  .image-slider .slick-slide > div {
    height: 100%;
  }
  .image-slider img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .project-details-title {
    font-size: 2.5rem;
    margin: 0.75rem 0;
  }
  .project-details p {
    font-size: 1.75rem;
  }
  .project-details p .tech-tag {
    border-radius: 2rem;
    margin: 0.25rem;
  }
  .project-details .desc {
    font-size: 1.5rem;
    height: 10rem;
  }
  .project-details .button {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 75rem) {
  .content-wrapper {
    flex-direction: row;
    height: 100%;
  }
  .left-section {
    border: 1px dotted var(--black300);
    height: 100%;
    padding: 1.25rem;
    width: 20%;
  }
  .fixed-title {
    font-size: 4rem;
    margin: 3rem 0;
    text-align: center;
  }
  .buttons-container {
    flex-direction: column;
    gap: 1.5rem;
  }
  .project-button {
    border-radius: 0.25rem;
    font-size: 1.75rem;
    text-align: center;
    transition: transform 0.4s ease;
    width: 80%;
  }
  .project-button:hover {
    background-color: var(--mainBg-color);
    border-radius: 0.25rem;
    color: var(--black100);
  }
  .project-button.is-active {
    background-color: var(--mainBg-color);
    border-radius: 0.25rem;
    color: var(--black100);
    font-weight: 700;
    transform: scale(1.05);
  }
  .right-section {
    height: 100%;
    overflow-y: auto;
    padding: 1.25rem;
    width: 80%;
  }
  .project-card {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 1.5rem;
    height: 100%;
    width: 100%;
  }
  .image-slider {
    flex: 0 0 55%;
    overflow: hidden;
    width: auto;
  }
  .image-slider .slick-list,
  .image-slider .slick-track,
  .image-slider .slick-slide > div {
    height: 100%;
  }
  .image-slider div {
    height: 24rem;
  }
  .image-slider img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .project-details {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 45%;
    padding: 0 1rem;
  }
  .project-details-title {
    font-size: 2.5rem;
    margin: 0.5rem 0;
  }
  .project-details p {
    font-size: 1.25rem;
    margin: 0.5rem 0;
  }
  .project-details p.tech {
    gap: 0.5rem;
    height: 5.25rem;
    min-height: 3rem;
  }
  .project-details p.tech strong {
    width: 4rem;
  }
  .project-details p.tech .tech-tags-container {
    flex-grow: 1;
    overflow-x: auto;
  }
  .project-details p.tech .tech-tag {
    font-size: 1rem;
    margin: 0.25rem;
    padding: 0.3rem 0.6rem;
  }
  .project-details .desc {
    font-size: 1.25rem;
    height: 20rem;
    max-height: 20rem;
  }
  .project-details .button-group {
    margin-top: auto;
    padding-top: 1rem;
  }
  .project-details .button {
    font-size: 1.25rem;
  }
}
.loading-container {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: var(--black);
  color: var(--white);
  flex-direction: column;
  height: 100vh;
}

.spinner {
  animation: spin 1s linear infinite;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #007bff;
  height: 40px;
  width: 40px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.projects-container {
  height: 100vh;
  overflow: hidden;
}