.footer {
  font-family: var(--mainKor-font);

  &-inner {
    padding: 1rem;

    &-text {
      @include flexbox(between);
      border-bottom: 0.0625rem solid var(--black);
      border-top: 0.0625rem solid var(--black);
      font-size: 0.75rem;
      text-transform: uppercase;
    }

    &-top {
      @include flexbox(between);
      margin: 6.25rem 0;

      @media (max-width: 50rem) {
        flex-direction: column;
      }

      .left {
        width: 40%;

        @media (max-width: 50rem) {
          width: 100%;
        }

        .title {
          border-bottom: 0.0625rem solid var(--black);
          border-top: 0.125rem solid var(--black);
          font-weight: 700;
          padding: 1.25rem 0;
          transition: padding-left 300ms;

          &:hover {
            background-color: var(--black400);
            border-color: transparent;
            padding-left: 0.625rem;
          }
        }

        .desc {
          font-size: 0.75rem;
          padding-top: 1.25rem;

          @media (max-width: 50rem) {
            margin-bottom: 2.5rem;
          }
        }
      }

      .right {
        width: 50%;

        @media (max-width: 50rem) {
          width: 100%;
        }

        h3 {
          border-top: 0.125rem solid var(--black);
          font-size: 0.75rem;
          margin-bottom: 2rem;
          padding-top: 0.625rem;
        }

        ul {
          border-top: 0.0625rem solid var(--black);

          li {
            border-bottom: 0.0625rem solid var(--black);

            a {
              display: inline-block;
              font-size: 0.875rem;
              padding: 0.875rem 0;
              text-transform: uppercase;
              transition: padding-left 300ms;

              &:hover {
                padding-left: 0.75rem;
              }
            }
          }
        }
      }
    }

    &-bottom {
      font-size: 0.75rem;
      margin-bottom: 1.25rem;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
